body{
    /*background-color:aquamarine;*/
background-color: aquamarine;
}

.main{

    background-color: aquamarine; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aquamarine, white);
    text-align: center;
    margin:1.35%;
    height:42rem;
}


.main:hover{
    position:relative;
    box-shadow: 10px #fff;
    transform:scale(1.01);
    box-shadow:3px 3px 30px 10px white;
    border-radius: 7%;
    z-index:1;

}

.title-image {
    width: 60%;
    right: 30%;
    margin-top:20%;
    margin-bottom: 0%;
    background-color: transparent;
  }

  @media (max-width:800px) {

    .title-image{
        width:min-content;
    }
    
  }
  
  @media (min-width:800px) {
    .title-image{
        width:max-content;
        height:auto;
        margin-top: 30%;
        margin-bottom: 0%;
    }
    
  }


  .big-heading{
    font-family: 'Sedgwick Ave Display', cursive;
    padding:4%;
    margin-top: 15%;
  }

  p{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  #grad1 {
    background-color: aquamarine; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aquamarine, white);
  }


 
  .bottomcontainer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    text-align: center;
}

.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
  }


  .challenge{
    padding:9%;
    text-align: center;
  }

  .headed{
    color:#11999E;
    padding-bottom: 4%;
  }

  #bbb{
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat',sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
  }

  #bbb:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-link{
    color:aquamarine;
    padding-left: 1%;
    padding-right: 1%;
  }

  .footer-link:hover{
    color:white;
    text-decoration: none;
  }



.chess_img{
  height: 100px;
  width: 100px;
}